body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
    gap:48px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: cursive;
}
.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    gap: 150px;
    padding: 8px 16px;
    font-size: 36px;
    color: white;
    font-weight: 900;
}



.s1{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 48px 16px;
    gap: 16px;
    text-align: left;
}
.s1 .main{
    font-size: 48px;
}
.s1 .sec {
    font-size: 16px;
    color: #E5E7EB;
    padding: 8px 0; 
}
.s1 .content{
    width: 400px;
}
.content{
    padding: 16px;
    color: white;
}

.s2{
    padding: 32px;
}

.subtext{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.subtext .text{
    font-size: 24px;
    font-family: cursive;
}

.s3{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    padding: 100px 400px;
    color: #1F2937;
}

.action{
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 100px;
    margin: 82px 200px;
}

.action .signup{
    border: 2px solid #E5E7EB;
}
.action .text{
    text-align: left;
}

.footer{
    background-color: #1F2937;
    color: white;
}

.subtext img{
    height: 250px;
    width: 250px;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.signup{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px 32px;
    border:0;
    font-weight: 700;
    font-size: 14px;
    margin-top: 8px;
}
